.column {
  float: left;
  text-align: center;
  padding-top: 30px;
}

#formGift {
  margin: auto;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px 4px;
  padding: 10px;
}

#backGround {
  background: rgb(87, 81, 178);
  background: linear-gradient(
    180deg,
    rgba(87, 81, 178, 1) 0%,
    rgba(65, 65, 162, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.col-6 {
  padding: 10px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  vertical-align: middle;
}
